body {
    background-image: url("Images/R.jpg");
    font-family: "Palatino Linotype";
}

.header {
    text-align: center;
    color: black;
    background-color: #f7f7f7;
}

.section1 {
    background-color: #f7f7f7;
    padding: 10px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 20px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: 700;
    font-style: normal;
    font-variant: small-caps;
}

.section2 {
    background-color: #f7f7f7;
    padding: 40px;
    font-size: 18px;
    color: #000000;
    font-weight: 700;
    font-style: normal;
    font-variant: small-caps;
}
h2 {
    font-size: 25px;
}